<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Some learning things">
  <meta name="author" content="Eugene Idan">
  <title>LearnApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= stylesheet_link_tag    'agency', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="page-top" class="index">
  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header page-scroll">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <%= link_to "GenTrak", root_url, class: "navbar-brand page-scroll" %>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                  <li class="hidden">
                      <a href="#page-top"></a>
                  </li>
                  <li>
                      <%= link_to "Todos", todos_url, class: "page-scroll" %>
                  </li>
                  <li>
                      <a class="page-scroll" href="#portfolio">Store</a>
                  </li>
                  <li>
                      <a class="page-scroll" href="#about">Check In</a>
                  </li>
                  <li>
                      <a class="page-scroll" href="#team">Check Out</a>
                  </li>
                  <li>
                      <a class="page-scroll" href="#contact">Repairs</a>
                  </li>
              </ul>
          </div>
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
  </nav>
  <!-- Header -->
  <header>
      <div class="container">
          <div class="intro-text">
              <div class="intro-lead-in">Welcome to GenTraK</div>
              <div class="intro-heading">Track Everything...</div>
              <a href="#services" class="page-scroll btn btn-xl">Tell Me More</a>
          </div>
      </div>
  </header>



  <%= yield %>

  <!-- jQuery -->


  <!-- Bootstrap Core JavaScript -->


  <!-- Plugin JavaScript -->


  <%= javascript_include_tag 'classie', 'cbpAnimatedHeader', 'contact_me', 'jqBootstrapValidation', 'data-turbolinks-track' => true %>


</body>
</html>
